.services {
  width: 100%;
  height: 1001px;
  background-color: rgb(60, 50, 50);
  background-size: cover;
  display: flex;
  flex-direction: column;
  
}
.titleWrap {
    padding-top: 350px;
  width: 100%;
  height: 550px;
  
    background-image: linear-gradient(
        to bottom,
        rgba(67, 67, 70, 0.4),
        rgba(60,50, 50, 1)
      ),
      url("../../images/services/head_img.JPG");
  background-size: cover;
  border-top: 1px solid rgb(190 190 190);
  display: flex;
  justify-content: center;
}
.title{
    color: white;
    font-size: 50px;
}