@media screen and (min-width: 320px) and (max-width: 767px) {
  .works {
    position: relative;
    width: 100vw;
height: 100vh;
    padding: 35px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(
        to bottom,
        rgba(67, 67, 70, 0.7),
        rgba(60, 50, 50, 1)
      ),
      url('../../images/bg3.JPG');
    background-size: cover;
  }

  .worksTitle {
    color: white;
    font-size: 25px;
    margin-bottom: 150px;
   
  }
  .swiperWrap {
    position: relative;
    width: 100%;
    /* height: auto; */
    z-index: 5;
    background-color: transparent;
  }
  .logo{
    width: 40vw;
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%) 
  }
  .worksSocials {
    
    position: absolute;
    top: -125px;
    right: 50%;
    transform: translateX(50%);
    z-index: 300;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 15px;
    /* margin-bottom: 25px; */
  }
  .worksSocialsTitle {
    color: white;
    font-size: 12px;
    
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
  }
 
  .swiper {
    width: 100%;
    background-color: transparent;
    margin-bottom: 100px;
    z-index: 1;
    
  }

  .swiperSlide {
    width: 100%;
    height: 100%;
    transition: all 0.5s linear;
  }

  .swiperBtnPrev {
    position: absolute;
    bottom: 0px;
    left: 0px;

    background-color: transparent;
    z-index: 25;
    cursor: pointer;
    border: none;
transform: rotate(-90deg);
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .swiperBtnPrevIcon {
    width: 50px;
    height: 50px;
    fill: #dbcccc;
    
  }
  .swiperBtnNext {
    position: absolute;
    bottom: 0px;
    right: 0px;

    background-color: transparent;
    z-index: 25;
    border: none;
    cursor: pointer;
    transform: rotate(90deg);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .swiperBtnNextIcon {
    width: 50px;
    height: 50px;
    fill: #ded7d7;
   
  }
}
/* //----------------------------------------------------------------------TABLET----------------------------------------------------- */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .works {
    position: relative;
    width: 100vw;
height: 100vh;
    padding: 35px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(
        to bottom,
        rgba(67, 67, 70, 0.7),
        rgba(60, 50, 50, 1)
      ),
      url('../../images/bg3.JPG');
    background-size: cover;
  }

  .worksTitle {
    color: white;
    font-size: 35px;
    margin-bottom: 200px;
   
  }
  .swiperWrap {
    position: relative;
    width: 100%;
    /* height: auto; */
    z-index: 5;
    background-color: transparent;
  }
  .logo{
    width: 500px;
    position: absolute;
    left: 50%;
    bottom: -100px;
    transform: translateX(-50%) 
  }
  .worksSocials {
    
    position: absolute;
    top: -125px;
    right: 50%;
    transform: translateX(50%);
    z-index: 300;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 15px;
    /* margin-bottom: 25px; */
  }
  .worksSocialsTitle {
    color: white;
    font-size: 18px;
    
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
  }
 
  .swiper {
    width: 100%;
    background-color: transparent;
    margin-bottom: 100px;
    z-index: 1;
    
  }

  .swiperSlide {
    width: 100%;
    height: 100%;
    transition: all 0.5s linear;
  }

  .swiperBtnPrev {
    position: absolute;
    bottom: 0px;
    left: 0px;

    background-color: transparent;
    z-index: 25;
    cursor: pointer;
    border: none;
  }
  .swiperBtnPrevIcon {
    width: 50px;
    height: 50px;
    fill: #dbcccc;
    rotate: -90deg;
  }
  .swiperBtnNext {
    position: absolute;
    bottom: 0px;
    right: 0px;

    background-color: transparent;
    z-index: 25;
    border: none;
    cursor: pointer;
  }
  .swiperBtnNextIcon {
    width: 50px;
    height: 50px;
    fill: #ded7d7;
    rotate: 90deg;
  }
}
/* "//-------------------------------------------------------DESKTOP----------------------------------------------------------------- */
@media (min-width: 1200px) {
    .works {
        position: relative;
        width: 100vw;
    
        padding: 60px 0;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    
        background-image: linear-gradient(
            to bottom,
            rgba(67, 67, 70, 0.7),
            rgba(60, 50, 50, 0.9)
          ),
          url('../../images/bg3.JPG');
        background-size: cover;
        
      }
    
      .worksTitle {
        color: white;
        font-size: 50px;
        margin-bottom: 100px;
        padding-left: 50px;
      }
      .swiperWrap {
        position: relative;
        width: 1100px;
        height: 600px;
        z-index: 5;
      }
      .worksSocials {
        position: absolute;
        top: 1px;
        right: 50%;
        transform: translateX(50%);
        z-index: 300;
        width: 850px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(37, 35, 35, 0.9);
    
        padding: 10px;
        padding-top: 15px;
        border-radius: 0 0 15px 15px;
      }
      .worksSocialsTitle {
        color: white;
        margin-right: 40px;
        font-weight: 600;
      }
      .swiperWrap::after {
        position: absolute;
        top: -15px;
        left: 15px;
        /* transform: translateX(-50%) translateY(-50%); */
        content: '';
        background-color: transparent;
        /* border-radius: 30px; */
        width: 100%;
        height: 100%;
        border: 1px solid white;
        background-color: rgb(0, 0, 0);
        background-image: url('../../images/bg5.JPG');
      }
      .swiperWrap::before {
        position: absolute;
        top: -30px;
        left: 30px;
        border: 1px solid white;
        content: '';
        background-color: transparent;
    
        width: 100%;
        height: 100%;
    
        background-color: rgb(45, 50, 47);
        background-image: url('../../images/bg2.JPG');
      }
      .swiper {
        width: 100%;
        height: 100%;
        background-color: black;
        margin-bottom: 100px;
        z-index: 1;
        border: 1px solid white;
      }
    
      .swiperSlide {
        width: 100%;
        height: 100%;
        transition: all 0.5s linear;
      }
    
      .swiperBtnPrev {
        position: absolute;
        top: 45%;
        left: -70px;
    
        background-color: transparent;
        z-index: 25;
        cursor: pointer;
        border: none;
      }
      .swiperBtnPrevIcon {
        width: 50px;
        height: 50px;
        fill: #dbcccc;
        rotate: -90deg;
      }
      .swiperBtnNext {
        position: absolute;
        top: 45%;
        right: -95px;
    
        background-color: transparent;
        z-index: 25;
        border: none;
        cursor: pointer;
      }
      .swiperBtnNextIcon {
        width: 50px;
        height: 50px;
        fill: #ded7d7;
        rotate: 90deg;
      }
}
