@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    z-index: 350;
    position: fixed;

    width: 100vw;
    height: 50px;
    box-shadow: 0 0 10px 0 #585454;
    /* overflow: hidden; */
    background-color: rgba(0, 0, 0, 0.1);
  }
  .wrap {
    position: relative;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    padding-left: 15px;
    width: 156px;
    margin: -22px;
    height: 95px;
    cursor: pointer;
    z-index: 410;
  }
  .contentWrap {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: opacity 0.5s ease 0 1;
  }
  .burgerBtn {
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 0;
    width: 40px;
    height: 100%;
    cursor: pointer;
    border: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 410;
  }
  .burger {
    fill: white;
    width: 40px;
    height: 40px;
  }
  .navList {
    position: absolute;
    top: 0;
    left: -25px;

    width: 110vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.9);
    z-index: 400;
  }
  .navItem {
    cursor: pointer;
    transition: all 0.1s linear;
  }

  .navItem:hover {
    transform: scale(1.1);
    transition: all 0.1s linear;
  }
  .navLink {
    color: white;
    font-size: 45px;
    font-weight: 600;
    width: 100%;
    z-index: 305;

    text-align: center;
  }
  .navLinkActive {
    color: white;
    font-size: 45px;
    font-weight: 600;
    z-index: 305;
    color: #f5c946;
  }
  .socailsWrap {
    margin-top: 75px;
  }
  .nextBtn {
    display: flex;
    align-items: center;
    height: 75%;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translateY(-50%) translateX(-50%);
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s linear;
    z-index: 410;
  }
  .nextBtn:hover {
    color: wheat;
    transition: all 0.3s linear;
  }
  .nextIcon {
    margin-left: 5px;
    fill: white;
    width: 20px;
    height: 20px;
    transform: rotate(90deg);
  }
}

/* //----------------------------------------------------------------------TABLET----------------------------------------------------- */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    z-index: 350;
    position: fixed;

    width: 100vw;
    height: 50px;
    box-shadow: 0 0 10px 0 #585454;
    /* overflow: hidden; */
    background-color: rgba(0, 0, 0, 0.1);
  }
  .wrap {
    position: relative;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    padding-left: 15px;
    width: 156px;
    margin: -22px;
    height: 95px;
    cursor: pointer;
    z-index: 410;
  }
  .contentWrap {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: opacity 0.5s ease 0 1;
  }
  .burgerBtn {
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 0;
    width: 40px;
    height: 100%;
    cursor: pointer;
    border: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 410;
  }
  .burger {
    fill: white;
    width: 40px;
    height: 40px;
    
  }
  .navList {
    position: absolute;
    top: 0;
    left: -25px;

    width: 105vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.9);
    z-index: 400;
  }
  .navItem {
    cursor: pointer;
    transition: all 0.1s linear;
  }

  .navItem:hover {
    transform: scale(1.1);
    transition: all 0.1s linear;
  }
  .navLink {
    color: white;
    font-size: 45px;
    font-weight: 600;
    width: 100%;
    z-index: 305;

    text-align: center;
  }
  .navLinkActive {
    color: white;
    font-size: 45px;
    font-weight: 600;
    z-index: 305;
    color: #f5c946;
  }
  .socailsWrap {
    margin-top: 75px;
  }
  .nextBtn {
    display: flex;
    align-items: center;
    height: 75%;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translateY(-50%) translateX(-50%);
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s linear;
    z-index: 410;
  }
  .nextBtn:hover {
    color: wheat;
    transition: all 0.3s linear;
  }
  .nextIcon {
    margin-left: 5px;
    fill: white;
    width: 20px;
    height: 20px;
    transform: rotate(90deg);
  }
}

/* "//-------------------------------------------------------DESKTOP----------------------------------------------------------------- */

@media (min-width: 1200px) {
  .header {
    z-index: 100;
    position: fixed;

    width: 100%;
    height: 50px;
    box-shadow: 0 0 10px 0 #585454;

    background-color: rgba(0, 0, 0, 0.1);
    background-color: transparent;
  }
  .wrap {
    position: relative;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }
  .logo {
    width: 156px;
    margin: -20px;
    height: 95px;
    cursor: pointer;
  }
  .contentWrap {
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: opacity 0.5s ease 0 1;
  }
  .burgerBtn {
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .burger {
    fill: white;
    width: 40px;
    height: 40px;
  }
  .navList {
    position: absolute;
    top: 0px;
    left: 25%;
    width: 700px;
    height: 50px;
    display: flex;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;

    border-top: none;
  }
  .navItem {
    padding: 0px 25px;
    cursor: pointer;
    transition: all 0.1s linear;
    width: 150px;
  }
  .navItem:hover {
    transform: scale(1.1);
    transition: all 0.1s linear;
  }
  .navLink {
    color: white;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    z-index: 305;

    /* padding-left: 30px; */
    text-align: center;
  }
  .navLinkActive {
    color: white;
    font-size: 20px;
    font-weight: 600;
    z-index: 305;
    color: #f5c946;
    /* padding-left: 30px; */
  }

  .nextBtn {
    display: flex;
    align-items: center;
    height: 75%;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s linear;
  }
  .nextBtn:hover {
    color: wheat;
    transition: all 0.3s linear;
  }
  .nextIcon {
    margin-left: 5px;
    fill: white;
    width: 30px;
    height: 30px;
    transform: rotate(90deg);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
